/*Colors*/
.bg-black{
    background-color: #333333!important;
}

.bg-white{
    background-color: #e2e6ea!important;
}

.bg-blue{
    background-color: #93c1be!important;
}

.txt-black{
    color: #333333!important;
}

.txt-white{
    color: #f2f2f2!important;
}

.txt-blue{
    color: #93c1be!important;
}
/*Buttons*/

.btn-blue{
    background-color: #93c1be!important;
    color: #f2f2f2!important;
    border-color: #93c1be!important;
}

.btn-black{
    background-color: #333333!important;
    color: #f2f2f2!important;
    border-color: #333333!important;
}

.btn-white{
    background-color: #f2f2f2!important;
    color: #333333!important;
    border-color: #f2f2f2!important;
}




.list-table .card{
    margin-bottom: 20px;
}

.card-icon{
    float: right;
    color: #333;
    margin: 0 10px;
}

.numeroMesa{
    width: 40px;
    display: inline-block;
    background-color: white;
    border: none;
    font-weight: bold;
}

.add-table{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1vh;
    font-size: 4vh;
    border-radius: 50%;
    height: 8vh;
    width: 8vh;
    position: fixed;
    bottom: 3vh;
}

.add-table{
    color: white;
    animation-name: fab;
}

.notifyjs-corner{
    left: 25%;
}
