/*Colors*/
/* .badge{
    font-size: 8px;
} */

.bg-black{
    background-color: #333333!important;
}

.bg-white{
    background-color: #e2e6ea!important;
}

.bg-blue{
    background-color: #93c1be!important;
}

.txt-black{
    color: #333333!important;
}

.txt-white{
    color: #f2f2f2!important;
}

.txt-blue{
    color: #93c1be!important;
}
/*Buttons*/

.btn-blue{
    background-color: #93c1be!important;
    color: #f2f2f2!important;
    border-color: #93c1be!important;
}

.btn-black{
    background-color: #333333!important;
    color: #f2f2f2!important;
    border-color: #333333!important;
}

.btn-white{
    background-color: #f2f2f2!important;
    color: #333333!important;
    border-color: #f2f2f2!important;
}




.list-table .card{
    margin-bottom: 20px;
}

.card-icon{
    float: right;
    color: #333;
    margin: 0 10px;
}

.numeroMesa{
    width: 40px;
    display: inline-block;
    background-color: white;
    border: none;
    font-weight: bold;
}

.add-table, .add-table:hover{
    background-color: #228B22;
    color: white;
    text-align: center;
    padding: 1.1vh;
    font-size: 5vh!important;
    border-radius: 50%;
    height: 10vh;
    width: 10vh;
    position: fixed;
    bottom: 4vh;
    transition: 0.5s;
    border: none!important;
}


.notifyjs-corner{
    left: 25%;
}


