.forgot-password{
    margin-top: 10px;
}

.register-button{
    cursor: pointer;
}



.transparencia {
    background-color: #000000bf;
    color: white;
  }
.dont {
    color: white;
    text-decoration: none;
}
.bttamanho{
    width: 120px;
    margin-right: 15px;
}
.botao-voltar-login{
    width: 100px;
}