body{
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.login {
  display: table-cell;
  vertical-align: middle;
  background-image: url(../img/login.jpg);
  background-size: 100%;
}

.production-page{
  background-image: url(../img/cozinha.jpg)!important; 
  background-attachment:fixed;
  background-size: 100%;
  height: 100%;

}

.list-products-page{
  background-image: url(../img/produtos.jpg)!important; 
  background-attachment:fixed;
  background-size: 100%;
  height: 100%;

}

.register-page{
  background-image: url(../img/registro.jpg)!important; 
  background-attachment:fixed;
  background-size: 100%;
  height: 100%;

}

.list-page{
  background-image: url(../img/lista.jpg)!important; 
  background-attachment:fixed;
  background-size: 100%;
  height: 100%;

}

.list-sector-page{
  background-image: url(../img/sector.jpg)!important; 
  background-attachment:fixed;
  background-size: 100%;
  height: 100%;

}

.list-tables-page{
  background-image: url(../img/mesas.jpg)!important; 
  background-attachment:fixed;
  background-size: 100%;
  height: 100%;
}

.funkyradio div {
  clear: both;
  overflow: hidden;
}

.new-icon{
  font-size: 16px!important;
}

.funkyradio label {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal;
}

.funkyradio input[type="radio"]:empty{
  display: none;
}

.funkyradio input[type="radio"]:empty ~ label{
  position: relative;
  line-height: 2.5em;
  text-indent: 3.25em;
 /* margin-top: 2em;*/
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before{
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label{
  color: #888;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before{
  content: '\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

.funkyradio input[type="radio"]:checked ~ label{
  color: #337ab7;
}

.funkyradio input[type="radio"]:checked ~ label:before{
  content: '\2714';
  text-indent: .9em;
  color: #337ab7;
  background-color: #ccc;
}

.funkyradio input[type="radio"]:focus ~ label:before{
  box-shadow: 0 0 0 3px #999;
}

.funkyradio-primary input[type="radio"]:checked ~ label:before{
  color: #fff;
  background-color: #337ab7;
}
#confirm {
  display: none;
  z-index: 1;  
  border: 1px solid #aaa;
  position: fixed;
  width: 250px;
  left: 50%;
  margin-left: -100px;
  padding: 6px 8px 8px;
  box-sizing: border-box;
  text-align: center;
}
#confirm button {
  display: inline-block z;
  border-radius: 5px;
  border: 1px solid #aaa;
  padding: 5px;
  text-align: center;
  width: 80px;
  cursor: pointer;
}
#confirm .message {
  text-align: center;
}

.card{
  border-radius: 0px;
}

.card-login{
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.btn{
  border-radius: 0px;
}

.btn-none{
  background: none;
  border: none;
}

.form-control{
  border-radius: 0px;
}

.comanda-detalhes{
    margin-top: 47px;
    background-image: url(../img/paper.jpg)!important;
    background-size: 100%;
    background-position-y: -20px;
    line-height: 24px;
    font-family: 'Handlee', cursive;
}

.tape-a {
    position: absolute;
    left: -8%;
    top: 0px;
    width: 48px;
    height: 18px;
    background-color: #ffeb9988;
    transform: rotate(-37deg);
}


.tape-b{
    position: absolute;
    right: -5%;
    top: 0px;
    width: 41px;
    height: 18px;
    background-color: #ffeb9988;
    transform: rotate(37deg);
}

.order-delete{
  float: right;
  cursor: pointer;
}